In [1]:
import pandas as pd

In [2]:
crime = pd.read_hdf('data/crime.h5')

In [3]:
crime.dtypes

OFFENSE_TYPE_ID              category
OFFENSE_CATEGORY_ID          category
REPORTED_DATE          datetime64[ns]
GEO_LON                       float64
GEO_LAT                       float64
NEIGHBORHOOD_ID              category
IS_CRIME                        int64
IS_TRAFFIC                      int64
dtype: object

In [4]:
crime = crime.set_index('REPORTED_DATE')

In [5]:
print(type(crime.index))   # index will be DatetimeIndex

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

#### crimes reported between 2AM - 5AM

In [6]:
crime.between_time('2:00', '5:00', include_end=False).head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0
2014-06-29 04:22:00,violation-of-restraining-order,all-other-crimes,-104.972447,39.739449,cheesman-park,1,0

In [7]:
crime.at_time('5:00').head() # exactly at 5

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-03-21 05:00:00,assault-dv,other-crimes-against-persons,-105.022173,39.732648,sun-valley,1,0
2014-03-21 05:00:00,disturbing-the-peace,public-disorder,-105.022173,39.732648,sun-valley,1,0
2014-09-28 05:00:00,robbery-street,robbery,-105.031010,39.707926,westwood,1,0
2015-08-24 05:00:00,traffic-accident,traffic-accident,-104.903433,39.778300,stapleton,0,1
2012-11-10 05:00:00,theft-items-from-vehicle,theft-from-motor-vehicle,-105.033020,39.736043,west-colfax,1,0

In [8]:
crime_sort = crime.sort_index()

In [9]:
first_crime = crime_sort.index[0]

In [10]:
first_crime

Timestamp('2012-01-02 00:06:00')

In [11]:
last_crime = crime_sort.index[len(crime_sort.index) - 1]

In [12]:
last_crime

Timestamp('2017-09-29 06:16:00')

#### crime incident at 6 months from start

In [13]:
first_crime + pd.offsets.MonthBegin(6)

Timestamp('2012-07-01 00:06:00')

#### crime incident at 6 months from first ( at ending)

In [14]:
first_crime + pd.offsets.MonthEnd(6)

Timestamp('2012-06-30 00:06:00')

#### getting first months crimes

In [15]:
crime_sort.first(pd.offsets.MonthBegin(6))

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-02 00:06:00,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1
2012-01-02 00:47:00,traffic-accident,traffic-accident,-104.951824,39.740168,congress-park,0,1
2012-01-02 01:35:00,aggravated-assault,aggravated-assault,-104.998131,39.749922,union-station,1,0
...,...,...,...,...,...,...,...
2012-06-30 23:40:00,traffic-accident-dui-duid,traffic-accident,-104.922266,39.678471,goldsmith,0,1
2012-06-30 23:44:00,traffic-accident,traffic-accident,-104.987578,39.711158,baker,0,1
2012-06-30 23:50:00,criminal-mischief-mtr-veh,public-disorder,-104.838271,39.788683,montbello,1,0
2012-06-30 23:54:00,traffic-accident-hit-and-run,traffic-accident,-105.014162,39.740439,lincoln-park,0,1
2012-07-01 00:01:00,robbery-street,robbery,-104.924292,39.767585,northeast-park-hill,1,0

In [16]:
crime_sort.first(pd.offsets.MonthEnd(6)).head(3)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-02 00:06:00,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1

In [17]:
crime_sort.first(pd.offsets.MonthBegin(6, normalize=True)).head(3)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-02 00:06:00,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1

In [18]:
crime_sort.loc[ : '2012-06'].head(3)  # getting crimes upto 6th month

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2012-01-02 00:06:00,aggravated-assault,aggravated-assault,-104.816860,39.796717,montbello,1,0
2012-01-02 00:06:00,violation-of-restraining-order,all-other-crimes,-104.816860,39.796717,montbello,1,0
2012-01-02 00:16:00,traffic-accident-dui-duid,traffic-accident,-104.971851,39.736874,cheesman-park,0,1

### creating custom date offset object

In [19]:
dt = pd.Timestamp('2021-01-16 13:40')

In [20]:
dt + pd.DateOffset(months=1)  # one month offset

Timestamp('2021-02-16 13:40:00')

In [21]:
do = pd.DateOffset(years=2, months=5, days=3, hours=8, seconds=10)

In [22]:
pd.Timestamp('2012-1-22 03:22') + do # adding 2 years, 5 months....

Timestamp('2014-06-25 11:22:10')