In [1]:
import pandas as pd
import numpy as np

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
flights = pd.read_csv('data/flights.csv')

In [4]:
flights_ct = flights.groupby(['ORG_AIR', 'DEST_AIR']).size()

In [5]:
flights_ct.head()

ORG_AIR  DEST_AIR
ATL      ABE         31
         ABQ         16
         ABY         19
         ACY          6
         AEX         40
dtype: int64

In [6]:
flights_ct.tail()

ORG_AIR  DEST_AIR
SFO      SNA         122
         STL          20
         SUN          10
         TUS          20
         XNA           2
dtype: int64

In [7]:
### get total flights between 'Houston' and 'Atlanta'

In [8]:
flights_ct.loc[[('ATL', 'IAH'), ('IAH', 'ATL')]] # multi index

ORG_AIR  DEST_AIR
ATL      IAH         121
IAH      ATL         148
dtype: int64

In [9]:
flights_ct.loc[[('ATL', 'IAH'), ('IAH', 'ATL')]].sum()

269

In [10]:
### finding number of flights across all states

In [17]:
flights_sorted = flights[['ORG_AIR', 'DEST_AIR']].apply(sorted, axis=1)

In [18]:
flights_sorted.head()

0    [LAX, SLC]
1    [DEN, IAD]
2    [DFW, VPS]
3    [DCA, DFW]
4    [LAX, MCI]
dtype: object

In [19]:
flights_sorted.tail()

58487    [DFW, SFO]
58488    [LAS, SFO]
58489    [SBA, SFO]
58490    [ATL, MSP]
58491    [BOI, SFO]
dtype: object

In [20]:
type(flights_sorted)
flights_sorted.index
type(flights_sorted.values)

pandas.core.series.Series

RangeIndex(start=0, stop=58492, step=1)

numpy.ndarray