In [64]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
crime = pd.read_hdf('data/crime.h5', 'crime')

In [4]:
crime.dtypes

OFFENSE_TYPE_ID              category
OFFENSE_CATEGORY_ID          category
REPORTED_DATE          datetime64[ns]
GEO_LON                       float64
GEO_LAT                       float64
NEIGHBORHOOD_ID              category
IS_CRIME                        int64
IS_TRAFFIC                      int64
dtype: object

In [5]:
crime = crime.set_index('REPORTED_DATE')

In [7]:
crime.head(5)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2014-06-29 02:01:00,traffic-accident-dui-duid,traffic-accident,-105.000149,39.745753,cbd,0,1
2014-06-29 01:54:00,vehicular-eluding-no-chase,all-other-crimes,-104.884660,39.738702,east-colfax,1,0
2014-06-29 02:00:00,disturbing-the-peace,public-disorder,-105.020719,39.706674,athmar-park,1,0
2014-06-29 02:18:00,curfew,public-disorder,-105.001552,39.769505,sunnyside,1,0
2014-06-29 04:17:00,aggravated-assault,aggravated-assault,-105.018557,39.679229,college-view-south-platte,1,0

#### Crime reported at particular time

In [8]:
crime.loc['2016-05-12 16:45:00']

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-12 16:45:00,traffic-accident,traffic-accident,-104.847024,39.779596,montbello,0,1
2016-05-12 16:45:00,traffic-accident,traffic-accident,-105.049180,39.769296,west-highland,0,1
2016-05-12 16:45:00,fraud-identity-theft,white-collar-crime,-104.931971,39.717359,hilltop,1,0

In [10]:
### crime reported on particualr day

In [13]:
crime.loc['2016-05-12'].head(4)

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2016-05-12 23:51:00,criminal-mischief-other,public-disorder,-105.017241,39.705845,athmar-park,1,0
2016-05-12 18:40:00,liquor-possession,drug-alcohol,-104.995692,39.747875,cbd,1,0
2016-05-12 22:26:00,traffic-accident,traffic-accident,-104.880037,39.777037,stapleton,0,1
2016-05-12 20:35:00,theft-bicycle,larceny,-104.929350,39.763797,northeast-park-hill,1,0

In [14]:
crime.loc['2016-05'].shape   # month crime

(8012, 7)

In [17]:
crime.loc['2016'].shape    # yearly.

(91076, 7)

In [18]:
crime.loc['2016-05-12 03'].shape

(4, 7)

#### most crimes happend on ?

In [22]:
crime.loc['Dec 2015'].sort_index().head()

,OFFENSE_TYPE_ID,OFFENSE_CATEGORY_ID,GEO_LON,GEO_LAT,NEIGHBORHOOD_ID,IS_CRIME,IS_TRAFFIC
REPORTED_DATE,,,,,,,
2015-12-01 00:48:00,drug-cocaine-possess,drug-alcohol,-104.891681,39.740155,east-colfax,1,0
2015-12-01 00:48:00,theft-of-motor-vehicle,auto-theft,-104.891681,39.740155,east-colfax,1,0
2015-12-01 01:00:00,criminal-mischief-other,public-disorder,-104.993574,39.739773,civic-center,1,0
2015-12-01 01:10:00,traf-other,all-other-crimes,-104.995496,39.725618,baker,1,0
2015-12-01 01:10:00,traf-habitual-offender,all-other-crimes,-104.995496,39.725618,baker,1,0

#### crimes reported on Sep 15 2016

In [24]:
crime.loc['2016, Sep 15'].shape[0]

252

In [26]:
crime.loc['21st October 2014 05'].shape[0] # on 21st october

4

#### crimes reported btween 2015 and 2016

In [33]:
crime.loc['2015-12-31':'2016-1-1'].sort_index().shape[0]

<ipython-input-33-479500f5b486>:1: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  crime.loc['2015-12-31':'2016-1-1'].sort_index().shape[0]

447

#### White collar crimes in 2016 ?

In [40]:
crimes_2016 = crime.loc['2016']

In [41]:
crimes_2016['OFFENSE_CATEGORY_ID'].value_counts()['white-collar-crime']

1232

#### memory savings with hdf5 format

In [51]:
mem_usage_hdf_type = crime.memory_usage(deep=True).sum()

In [52]:
mem_usage_hdf_type

28762641

In [53]:
crime_objtype = crime.astype({'OFFENSE_TYPE_ID':'object', 
                            'OFFENSE_CATEGORY_ID':'object', 
                            'NEIGHBORHOOD_ID':'object'})

In [54]:
mem_usage_obj_type = crime_objtype.memory_usage(deep=True).sum()

In [56]:
bytes_in_mb = 2 ** 20

In [61]:
round(mem_usage_hdf_type / mb, 1)   # in MB

27.4

In [62]:
round(mem_usage_obj_type / mb, 1)   # in MB

120.8

#### slicing on timestamp will be faster after index sort

In [67]:
%timeit crime.loc['2015-3-4':'2016-1-1']

4.93 ms ± 32.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [68]:
crime_sort = crime.sort_index()

In [69]:
%timeit crime_sort.loc['2015-3-4':'2016-1-1']

555 µs ± 6.53 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)