In [1]:
import pandas as pd
import numpy as np

In [2]:
df_movies = pd.read_csv("movie.csv")

In [4]:
df_movies.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [7]:
index = df_movies.index
index

RangeIndex(start=0, stop=4916, step=1)

In [10]:
columns = df_movies.columns
columns.tolist()

['color',
 'director_name',
 'num_critic_for_reviews',
 'duration',
 'director_facebook_likes',
 'actor_3_facebook_likes',
 'actor_2_name',
 'actor_1_facebook_likes',
 'gross',
 'genres',
 'actor_1_name',
 'movie_title',
 'num_voted_users',
 'cast_total_facebook_likes',
 'actor_3_name',
 'facenumber_in_poster',
 'plot_keywords',
 'movie_imdb_link',
 'num_user_for_reviews',
 'language',
 'country',
 'content_rating',
 'budget',
 'title_year',
 'actor_2_facebook_likes',
 'imdb_score',
 'aspect_ratio',
 'movie_facebook_likes']

In [19]:
data = df_movies.values
data

array([['Color', 'James Cameron', 723.0, ..., 7.9, 1.78, 33000],
       ['Color', 'Gore Verbinski', 302.0, ..., 7.1, 2.35, 0],
       ['Color', 'Sam Mendes', 602.0, ..., 6.8, 2.35, 85000],
       ...,
       ['Color', 'Benjamin Roberds', 13.0, ..., 6.3, nan, 16],
       ['Color', 'Daniel Hsia', 14.0, ..., 6.3, 2.35, 660],
       ['Color', 'Jon Gunn', 43.0, ..., 6.6, 1.85, 456]], dtype=object)

In [23]:
type(columns), type(index), type(data)

(pandas.core.indexes.base.Index,
 pandas.core.indexes.range.RangeIndex,
 numpy.ndarray)

In [24]:
df_movies.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

In [28]:
df_movies.director_name

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4             Doug Walker
              ...
4911          Scott Smith
4912                  NaN
4913     Benjamin Roberds
4914          Daniel Hsia
4915             Jon Gunn
Name: director_name, Length: 4916, dtype: object

In [29]:
type(df_movies['director_name'])

pandas.core.series.Series

In [34]:
df_movies['director_name'].name

'director_name'

In [35]:
director_name_series = df_movies['director_name']

In [42]:
director_name_series.to_frame()

          director_name
0         James Cameron
1        Gore Verbinski
2            Sam Mendes
3     Christopher Nolan
4           Doug Walker
...                 ...
4911        Scott Smith
4912                NaN
4913   Benjamin Roberds
4914        Daniel Hsia
4915           Jon Gunn

[4916 rows x 1 columns]

In [54]:
len([i for i in set(dir(director_name_series)) if not i.startswith("_")])

203

In [55]:
len([i for i in set(dir(director_name_series.to_frame())) if not i.startswith("_")])

205

In [56]:
df_movies.director_name.value_counts()

Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Spike Lee           16
                    ..
David Palmer         1
David E. Talbert     1
Michael Meredith     1
Matt Maiellaro       1
Jim Mickle           1
Name: director_name, Length: 2397, dtype: int64

In [68]:
df_movies[df_movies.director_name =='Christopher Nolan'].movie_title

3       The Dark Knight Rises
66            The Dark Knight
96               Interstellar
97                  Inception
120             Batman Begins
1057                 Insomnia
1222             The Prestige
3646                  Memento
Name: movie_title, dtype: object

In [74]:
df_movies.director_name.unique().shape

(2398,)

In [75]:
df_movies.director_name.shape

(4916,)

In [76]:
df_movies.director_name.size

4916

In [77]:
df_movies.director_name.isna().sum()

102

In [83]:
df_movies.director_name.count()

4814

In [81]:
df_movies.director_name.nunique()

2397

In [84]:
df_movies.director_name.describe()

count                 4814
unique                2397
top       Steven Spielberg
freq                    26
Name: director_name, dtype: object

In [86]:
df_movies.director_facebook_likes.describe(percentiles = [0.1, 0.2, 0.4])

count     4814.000000
mean       691.014541
std       2832.954125
min          0.000000
10%          0.000000
20%          3.000000
40%         25.000000
50%         48.000000
max      23000.000000
Name: director_facebook_likes, dtype: float64

In [91]:
df_movies.director_facebook_likes.quantile(0.99)

16000.0

In [94]:
df_movies.director_name.isna().sum()

102

In [97]:
df_movies.director_name.fillna('000', inplace = True)

In [98]:
df_movies.director_name.isna().sum()

0

In [ ]:
df_movies.director_name.dropna